
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.dll
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.plt
*.dot
*.ipch
*.db-shm
*.db-wal
[Bb]in
[Dd]ebug*/
*.opensdf
*.lib
*.sbr
*.sdf
*.suo
*.db
*.opendb
obj/
GeneratedFiles/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
